<div class="primary-navigation">
    <nav class="primary">
        <img src="/assets/MarchiDurigon.png" alt="Logo" class="icon-logo">
        <div class="buttons-div">
            <ul>
                <li>
                    <button>Products</button>
                </li>
                <li>
                    <button>Solutions</button>
                </li>
            </ul>
        </div>
        <div class="links-div">
            <a>Account geöffnen</a>
            <a>Kontakt</a>
            <a>Über uns</a>
        </div>
    </nav>
    <hr class="baseline">
</div>

  