<div class="primary-navigation">
    <nav class="primary">
        <img src="/assets/MarchiDurigon.png" alt="Logo" class="icon-logo">
        <div class="buttons-div">
            <ul>
                <li>
                    <a>Products</a>
                </li>
                <li>
                    <a>Solutions</a>
                </li>
                <li>
                    <a>Account geöffnen</a>
                </li>
                <li>
                    <a>Kontakt</a>
                </li>
                <li>
                    <button routerLink="/about">Über uns</button>
                </li>
            </ul>
        </div>
        <div class="login">
            <button routerLink="/login">Login</button>
            <app-drop-down-button></app-drop-down-button>
        </div>
    </nav>
    <hr class="baseline">
</div>

  