<app-header></app-header>

<section class="banner">
    <div class="image-overlay"></div>
    <img src="/assets/MOZRH-EXT-DUSK-03X-1132x560-1 (1).jpg" class="img-schweiz">
    <section class="banner-content">
        <section class="banner-title">
            <h1>Marchi Durigon in &nbsp;der Schweiz</h1>
        </section>
        <p>Localen expertise. Globalen Ressourcen. Unser Kompromiss mit der Schweiz </p>
    </section>
</section>

<section class="text-grid-column">
    <h1 [@typing]='typingState'>About us</h1>
    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. 
        Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer
        took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries,
        but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release
        of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including
         versions of Lorem Ipsum.
    </p>
    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. 
        Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer
        took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries,
        but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release
        of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including
         versions of Lorem Ipsum.
    </p>
    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. 
        Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer
        took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries,
        but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release
        of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including
         versions of Lorem Ipsum.
    </p>
    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. 
        Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer
        took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries,
        but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release
        of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including
         versions of Lorem Ipsum.
    </p>
</section>
<section class="related-solutions-container">
    <section class="image-container">
        <img src="/assets/3f795daf04a4b56d9621290934b6b93f.jpg">
    </section>
    <section class="content-container">
        <section class="headline">
            <h1>What problem can we </h1>
            <span class="accented-text">solve together?</span>
        </section>
    </section>
</section>

<section>
    <app-contact-us></app-contact-us>
</section>