
<app-header></app-header>

<section class="section1">
    <section class="section1-content">
        <h2>Willkommen bei der Bestens Zürich Kantonal Bank</h2>
        <p>Entdecken Sie unsere erstklassigen Finanzdienstleistungen und Lösungen, die auf Ihre Bedürfnisse zugeschnitten sind.</p>
        <a href="/services" class="cta-button">Unsere Dienstleistungen</a>
    </section>
    <section class="section1-image">
        <img src="/assets/Zürich über.jpg" alt="Zürich">
    </section>
</section>

<hr class="horizontal-line">

<section class="section2">
    <section class="section2-image">
        <img src="/assets/handshake_190617-800x450.jpg">
    </section>
    <section class="section2-content">
        <h2>Unsere Angebote</h2>
        <p>Entdecken Sie unsere vielfältigen Finanzprodukte und Angebote, die Ihnen dabei helfen, Ihre finanziellen Ziele zu erreichen.</p>
        <a href="/products" class="cta-button">Unsere Produkte</a>
    </section>
</section>

<hr class="horizontal-line">
<section class="section3">
    <section class="section3-content">
        <h2>Kundenbetreuung</h2>
        <p>Unsere engagierte Kundenbetreuung steht Ihnen jederzeit zur Verfügung. Wir legen Wert auf eine persönliche und individuelle Beratung.</p>
        <a href="/contact" class="cta-button">Kontaktieren Sie uns</a>
    </section>
    <section class="section3-image">
        <img src="/assets/strategies-for-Creating-a-Happy-Customer-1024x576.jpg">
    </section>
</section>

<hr class="horizontal-line">
<section class="cards-container-outer">
    <section class="cards-container-inner">
        <article class="card card1">
            <img src="/assets/Image1.jpg">
            <div class="card-content">
                <p class="card-title">Card 1 Title</p>
                <p class="card-paragraph">Card 1 Paragraph</p>
                <p class="card-date">Jan 14, 2024</p>
                <a href="#" class="card-link">Read More</a>
            </div>
        </article>
        <article class="card card2">
            <img src="/assets/bankBuilding.jpeg">
            <div class="card-content">
                <p class="card-title">Card 2 Title</p>
                <p class="card-paragraph">Card 2 Paragraph</p>
                <p class="card-date">Jan 14, 2024</p>
                <a href="#" class="card-link">Read More</a>
            </div>
        </article>
        <article class="card card3">
            <img src="/assets/happyFamily.webp">
            <div class="card-content">
                <p class="card-title">Card 3 Title</p>
                <p class="card-paragraph">Card 3 Paragraph</p>
                <p class="card-date">Jan 14, 2024</p>
                <a href="#" class="card-link">Read More</a>
            </div>
        </article>
    </section>
</section>

<footer>
    <p>&copy; 2024 Your Website Name. All rights reserved.</p>
</footer>